body
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: firebrick;
}

#container1
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 2px solid #ababab;
    margin: 0 auto;
    color: aqua;
}

#container2
{
    width: 80%;
    padding: 1em;
    text-align: center;
    border-bottom: 5px solid #fafa;
    border-right: 5px solid #FFF233;
    border-left: 5px solid #33BEFF;
    border-top: 5px solid #FF8533;
    margin: 0 auto;
    color: rgb(255, 0, 234);
}

#cabecera
{
    width: 50%;
    padding-bottom: 5em;
    text-align: center;
    border: 5px solid #0a2be6;
    margin: 0 auto;
    color: rgb(0, 4, 255);
}
